*{
	
	align-items: center;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
}

.Part4{
	text-align: center;
	margin-top: 50px;
	margin-bottom:-80px;
	color:#170238;

	font-size:32px;

}

.container{
	display: flex;
	flex-wrap: wrap;
	margin-top: 5%;
	
}

.box{
	position: relative;
	width: 350px;
	padding: 40px;
	background: #1d7e91;
	box-shadow: 0 5px 15px rgba(29, 126, 145);
	border-radius: 4px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	
}

.box:before{
	content:'';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	background: rgba(255,255,255,.2);
	z-index: 2;
}

.img{
	position: relative;
	width: 80px;
	height: 80px;
	color: #FFF;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	transition: 3s;
}

.container .box:nth-child(1) .img{
	 box-shadow: 0 0 0 0 #de9b1f;
	 background: #bdc79f;
}

.container .box:nth-child(1):hover .img{
	 box-shadow: 0 0 0 325px #e3444f;
}

.container .box:nth-child(2) .img{
	 box-shadow: 0 0 0 0 #f57653;
	 background: #e8d507;
}

.container .box:nth-child(2):hover .img{
	 box-shadow: 0 0 0 325px #3eed92;
	 
}

.container .box:nth-child(3) .img{
	 box-shadow: 0 0 0 0 #cf02c8;
	 background: #e8a5c9;
}

.container .box:nth-child(3):hover .img{
	 box-shadow: 0 0 0 325px #be93d9;
	 
}

.container .box .content{
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.container .box .content{
	color: #fff;
}

.container .box .content h3{
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
}

.container .box .content p{
	margin: 0;
	padding:0;
}
.container .box .content a
{
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 12px 15px rgba(0,0,0,10);
}