/* IT21174544
MFI Mohamed
Malabe
Group Y1.S2.WD.IT.08.2.G1 */


/* Service  */
*{
    margin:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 20vh;
    width:100%; 
}
body {
    align-self: center;
    background:linear-gradient(rgba(233,242,247,0.2),rgba(233,242,247,0.8)), url("https://img.freepik.com/free-vector/clean-medical-background_53876-116875.jpg?w=2000");
    background-position: center;
    background-size: auto; 
    font-size: 20;  
}
nav{
    display: flex;
    padding:3% 1%;
    justify-content: space-between;
    align-items: left;
    font-size: 20;
}
.nav-links{
    flex:1;
    text-align: left;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding:8px 25px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(31, 29, 28);
    size:20px;
    text-decoration: none;
}
.nav-links ul li ::after{
    content:'';
    width:0%;
    height:2px;
    background:rgb(253, 182, 182);
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width:100%;
}
.text-box{
    width:90%;
    color:rgb(87, 82, 82);
    position:absolute;
    top:15%;
    transform: translate(50,-50);
    text-align: left;
    padding-left: 5%;
    width:90%;
    background-position: center;
    background-size:cover;
    font-size: 18;
}
.text-box h1{
    
    size: 10px;
    text-align: left;
}
.more{
    color: rgb(94, 88, 88);
    font-size: 10px;
}
.text-box p{
    text-align: justify;
    text-justify: inter-word;
    margin:10px 0 40px;
    font-size: 18px;
    color: rgb(87, 82, 82);
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(87, 82, 82);
    border:1px solid rgb(87, 82, 82);
    padding:12px 34px;
    font-size:18px;
    background: transparent;
    position: relative;
    cursor:pointer;
}
.hero-btn:hover{
    border:1px solid rgb(253, 182, 182);
    background:rgb(253, 182, 182);
    transition: 0.6s;
}
.sub-header{
    height:90vh;
    width:auto;
    background-position: center;
    background-size:cover;
    text-align: center;
    color: rgb(94, 88, 88);
}
.service-content{
    width:80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 18px;
}
.col{
    flex-basis: 48%;
    padding:30px 2px;
}
.col img{
    width:100%;
}
.col p{
    padding:15px 0 25px;
}

/* consultation-services */

.consultation-services{
    width:80%;
    margin:auto;
    text-align: center;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:rgb(87, 82, 82);
    font-size:18px;
    font-weight: 1000;
    line-height:22px;
    padding:10px;
}

.row{
    display:flex;
    margin-top:5%;
    justify-content: space-between;
}
.c-col{
    flex-basis: 32%;
    background:rgb(227, 223, 243);
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    margin:10px 0;
    font-weight: 600;
}
.c-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
.consult-bttn{
    display: inline-block;
    text-decoration: none;
    color:rgb(87, 82, 82);
    border:1px solid rgb(87, 82, 82);
    padding:12px 34px;
    font-size:18px;
    background: transparent;
    position: relative;
    cursor:pointer;
}
.consult-bttn:hover{
    border:1px solid rgb(253, 182, 182);
    background:rgb(253, 182, 182);
    transition:0.4s
}

/* Nursing Services */

.nursing-services{
    width:80%;
    margin: auto;
    text-align: center;
}

h1{
    font-size:36px;
    font-weight: 600;
}
p{
    color:rgb(87, 82, 82);
    font-size:18px;
    font-weight: 300;
    line-height: 22px;
    padding:10px
}
.n-bttn{
    text-decoration: none;
    background:transparent;
    border:1px solid rgb(87, 82, 82);
    display: inline-block;
    cursor:pointer;
    position: relative;
    font-size: 18px;
    padding:12px 34px;
    color:rgb(87, 82, 82);
}
.n-bttn:hover{
    border:1px solid rgb(253, 182, 182);
    background:rgb(253, 182, 182);
    transition:0.4s;
}
.n-col{
    flex-basis: 45%;
    background:rgb(227, 223, 243);
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    margin:10px 0;
    font-weight: 1000;
}
.n-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/* Medical checkup */

.Medical-checkup{
    width:90%;
    color:rgb(87, 82, 82);
    position:absolute;
    top:10%;
    transform: translate(50,-50);
    text-align:center;
    padding: 5%;
    background-position: center;
    background-size: cover;
}
.Medical-checkup{
    size:50px;
}
.m-bttn{
    size: 25px;
    background: transparent;
    border:1px solid rgb(87, 82, 82);
    text-decoration: none;
    display:flexbox;
    cursor:pointer;
    position:relative;
    font-size:20px;
    padding:10px 34px;
    color:rgb(87, 82, 82);
}
.m-bttn:hover{
    background:rgb(253, 182, 182);
    transition: 0.4s;
    border:1px solid rgb(253, 182, 182);

}
.Medical-checkup h1{
    min-height: 10vh;
    width:100%; 
}


/* Urgent Care */

.u-care{
    width:90%;
    color:rgb(87, 82, 82);
    position:absolute;
    top:15%;
    transform: translate(-50,-50);
    text-align: center;
    padding-left: 5%;
    width:90%;
    background-position: center;
    background-size:cover;
    size: 18px;
}
h1{
    font-size: 25px;
    font-weight: 300px;
    text-align: center;
}
h4{
    size:25px;
    padding-top: 3%;
    text-align: center;
}

p{
color:rgb(87, 82, 82);
width:90%;
text-align:center;
font-size:18px;
font-weight: 300;
line-height: 22px;
padding:10px;
}
.uc-bttn{
    background: transparent;
    border: 1px solid rgb(87, 82, 82);
    text-decoration:none;
    display:flexbox;
    cursor:pointer;
    position:relative;
    font-size:18px;
    padding:10px 34px;
    color:rgb(87, 82, 82);
}
.uc-bttn:hover{
    background:rgb(253, 182, 182);
    transition: 0.4s;
    border:1px solid rgb(253, 182, 182);
}
.u-care p{
    margin:10px 0 40px;
    font-size: 19px;
    color: rgb(87, 82, 82);
}

/*form*/

.container{
    padding-top: 30px;
    text-align: center;
    align-content: center;
    align-items: right;
    min-height: 100vh;
    margin: 0;
}
.header{
    border-bottom: 1px solid rgb(253, 182, 182);
    padding:20px 40px;
}
.d-consultation-form{
    margin:0;
}
.form{
    padding:15px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-top: 20px;
    position:relative;   
}
.form-control label{
    display:inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border:2px solid rgb(253, 182, 182);
    border-radius:4px;
    font-family: inherit;
    font-size:15px;
    padding: 10px;
}
.form-control small{
    visibility: hidden;
    position: absolute;
    bottom:0;
    left:0;
}
button{
    background: transparent;
    border: 1px solid rgb(87, 82, 82);
    text-decoration:none;
    display:flexbox;
    cursor:pointer;
    position:relative;
    font-size:18px;
    padding:10px 34px;
    color:rgb(87, 82, 82);
}
button:hover{
    background:rgb(253, 182, 182);
    transition: 0.4s;
    border:1px solid rgb(253, 182, 182);
}

/*read more*/
.li{

        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margins */
        justify-content: center;
      
}

.list{
    list-style-type: none;
}



/* IT21174544
MFI Mohamed
Above Css was made by myself */